{% extends "maps/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}&ndash; {% trans "Add Map" %}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "maps/create.css" %}">
{% endblock extra_css %}

{% block main_content %}
<h1>{% block header %}{% trans "Add map" %}{% endblock %}</h1>
{% block intro %}
<p>There may be cases where a dataset could relate to two or more questions.
e.g. a map showing cash transfer program data would need both the 'Activity'
question and the 'Resourcing/Funding' questions to be ticked in relation to the
one dataset.</p>
<p><strong>* indicates required field</strong></p>
{% endblock intro %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  There were some errors, or missing data - please check below.
</div>
{% endif %}

{% crispy form %}
{% endblock main_content %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(
    function() {

      $(".chosen").chosen();

      $('.date-earliest').each(
        function (ix, el) {
          var latest = $('#id_' + $(el).data('latest'));
          latest.attr('type', 'text');
          latest.attr('class', $(el).attr('class'));
          $(el).siblings('span.input-group-addon').after(latest);
        }
      );

      $('.input-group.date, .dateinput').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        todayBtn: "linked",
        clearBtn: true
      });

      $('[data-indicator]').each(
        function (ix, el) {
          var indicator = $(el).data('indicator');
          var well = $('<div class="well well-sm well_' + indicator + '"></div>');
          var group_el = $(el).closest('div.form-group');
          well.insertAfter(group_el);
          $('.' + indicator).appendTo(well);

          if (!$(el).attr('checked')) {
            // initially hide fields that depend on the indicator being present
            $('div.well_' + indicator).toggle();
          }

          $(el).bind('change', function(ev) {
            // toggle the dependent fields with the changing of indicator state
            var indicator = $(ev.target).data('indicator');
            $('div.well_' + indicator).toggle();
          });
        }
      );
    }
  );
</script>
{% endblock scripts %}


